
@font-face {
  src: url("../Assets/caviar_dreams/CaviarDreams.ttf");
  font-family: "CaviarDreams";
}

.navbar-default {
  background-color: #06D6A0;
  border-radius: 0;
  background-image: none;
}


.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EF476F;
}


.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #fb9a99;
  color: #242424;
}

.portfolio-thumbnail {
	border-width: 4px;
	border-style: solid;
	border-color: #FFD166;
	width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: #EF476F;
}

.portfolio-image {

}


.jumbotron {
  background-image: url("../Assets/hexagons.png");
  font-family: 'CaviarDreams';
  font-weight: bold;
	text-align: center;
  background-color: #92e8db;
}

.jumbotron h2 {
	font-size: 45px;
	font-family: 'CaviarDreams';
  font-weight: bold;
  color: #26547C;
}

.jumbotron h4 {
	font-size: 30px;
	font-family: 'CaviarDreams';
  color: #26547C;
}

.jumbotron h6 {
	font-size: 20px;
	font-family: 'CaviarDreams';
  color: #26547C;
}

.resume li {
  font-size: 17px;
}

.resume h3 {
font-size: 26px;
color: #06D6A0;
}

.about p {
  font-size: 20px;
}


body {
  padding-top: 50px;
  font-family: 'CaviarDreams', sans-serif;
  background-color: #26547C;
  color: #FCFCFC;
}

p {
  font-size: 18px;
}

a {
  color: #FFD166;
}

a:hover {
  color: #EF476F;
}

#cyclingmap {
  width: 90%;
  align-self: center;
}
